# Enable LangSmith tracing
LANGSMITH_TRACING=true

# The LangSmith API Endpoint
LANGSMITH_ENDPOINT="

# Your API Key
LANGSMITH_API_KEY

# (Optional) Name your project so it's easy to find in the dashboard
LANGSMITH_PROJECT="docker-ollama-local"

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
TAVILY_API_KEY=